.popularProductsSection {
  display: flex;
}

.popularProduct {
  text-align: start;
}

.popularProductContent {
  h3 {
    font-size: 34px;
    font-weight: 100;
  }
  p {
    margin: 14px 0px;
    font-size: 14px;
  }
}

@media all and (max-width: 768px) {
  .popularProductsSection {
    flex-direction: column;
    gap: 64px;
  }
  .popularProduct {
    text-align: center;
  }
}
