.popularProduct {
  /* display: flex;
  flex-direction: column;
  max-width: 360px;
  max-height: 640px; */

  /* .popularProductImages {
    position: relative;
    img {
      position: absolute;
      top: 0;
    }
  } */
}
